* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #6b1f4e;
    background-color: #aea1ac;
}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

header {
    grid-column: span 2;
    background: #5f6770;
    color: rgb(25, 171, 62);
    padding: 15px;
}

nav {
    background: #ddd;
    padding: 15px;
}

main {
    background: rgb(144, 127, 127);
    padding: 15px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #310f31;
    color: rgb(211, 152, 152);
    border: none;
    padding: 10px 15px;
    box-shadow: 5px 7px 5px rgba(171, 174, 129, 0.2);
    cursor: pointer;
}

button:hover {
    background-color: #1a0f14;
}

button:active {
    transform: scale(0.98);
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    body {
        font-size: 14px;
    }
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 1.6;
    color: #520915;
    background-color: #dec3c3;
}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

header {
    grid-column: span 2;
    background: #9f0f0f72;
    color: rgb(168, 171, 26);
    padding: 15px;
}

nav {
    background: #0c7d89;
    padding: 15px;
}

main {
    background: rgb(244, 115, 212);
    padding: 15px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #171c7c;
    color: rgb(171, 71, 122);
    border: none;
    padding: 10px 15px;
    box-shadow: 57px 50px 90px rgba(90, 39, 191, 0.2);
    cursor: pointer;
}

button:hover {
    background-color: #7b0f81;
}

button:active {
    transform: scale(0.98);
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    body {
        font-size: 13px;
    }
}
h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}
img {
   max-width: 100%; width: 700px;
    height:auto;
}
.my-image {
    box-shadow: 700px 900px 880px rgb(164, 31, 31);
}